/* CSS declarations go here */
html {
  min-height: 100%;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #efefef;
  min-height: 100%;
}

#level, #explanation {
  text-align: center;
  font-size: 24px;
  width: 576px;
  padding: 10px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  margin: 0 auto 2px auto;
}
#level {
  background: -webkit-linear-gradient(top, #222, #333, #222 );
}
#explanation {
  font-size: 16px;
  background: -webkit-linear-gradient(top, #434, #646, #434 );
}

#login-buttons {
  position: fixed;
  top: 20px; right: 200px;
}

#loading, #instructions {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 99;
  background-color: #000;
  color: #E6E629;
  padding: 100px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
}

#instructions {
  display: none;
  background: rgba(0,0,0,.4);
}
.instructions #instructions { display: block; }
#instructions ol {
  list-style: none;
  margin: 0 auto; padding: 0;
  position: relative;
  width: 600px; height: 100%;
}
#instructions li {
  position: absolute;
  display: none;
  color: white;
  padding: 10px;
  background: #000;
  border: solid 3px #E6E629;
  width: 300px;
  min-width: 150px; max-width: 400px;
  font-size: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,.7);
  -webkit-box-sizing: border-box;
}
.with-arrow:after, .with-arrow:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.with-arrow:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.with-arrow:before {
  border-color: rgba(230, 230, 41, 0);
  border-top-color: #E6E629;
  border-width: 14px;
  left: 50%;
  margin-left: -14px;
}
#instructions li:nth-child(1) { left: 150px; top: 50px; }
#instructions li:nth-child(2) { left: 150px; top: 40px; }
#instructions li:nth-child(3) { left: 150px; bottom: 90px; }
#instructions li:nth-child(4) { left: 50px; top: 280px; }
#instructions li:nth-child(5) { left: 0; bottom: 90px; }
#instructions li:nth-child(6) { left: 150px; top: 250px; }
#instructions li:nth-child(7) { left: 150px; top: 250px; }
#instructions li:nth-child(8) { left: 150px; top: 250px; }
#instructions li:nth-child(9) { left: 150px; top: 250px; }
#instructions li:nth-child(10) { left: 150px; top: 250px; }

h1 {
  margin: 0;
  font-family: Monda, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
h2 {
  color: #fFa;
  margin: 0 0 70px 0;
}

.button {
  padding: 10px;
  border: solid 4px #E6E629;
  margin: 20px auto;
  width: 250px;
  font-size: 24px;
  cursor: pointer;
}
.button:hover {
  border-color: white;
  color: white;
}
.button:active {
  border-color: #fcc;
  color: #fcc;
}

#container {
  min-height: 100%;
  -webkit-perspective: 1000px;
}

#master-cube {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto 2px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform-origin: center center -300px;
}

.cube {
  width: 200px;
  height: 200px;
  position: absolute;
  -webkit-user-select: none;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform, opacity 1s;
  -webkit-transform-origin: center center;
}
#top .cube { -webkit-transform: translateZ(-100px); }
#middle .cube { -webkit-transform: translateZ(-300px); }
#bottom .cube { -webkit-transform: translateZ(-500px); }

.cube figure {
  margin: 0;
  width: 116px;
  height: 116px;
  display: block;
  padding: 40px;
  position: absolute;
  border: 2px solid black;
  line-height: 116px;
  font-size: 116px;
  font-weight: bold;
  text-shadow: 0 -1px 1px rgba(0,0,0,.4);
  color: white;
  text-align: center;
  -webkit-transition: -webkit-transform, background .2s;
}
.cube:hover, .cube:active {
  cursor: pointer;
  opacity: .3;
}
.cube:active .front, .cube:active .back, .cube:active .left, .cube:active .right, .cube:active .top, .cube:active .bottom {
  box-shadow: inset 0 0 30px rgba(0,0,0,.5);
}
.cube.clicked:hover, .cube.clicked:active {
  opacity: .3;
}
.cube.clicked figure {
  color: rgba(255,255,255,.1);
  text-shadow: none;
  background: none;
  border-color: rgba(0,0,0,.3);
}

.cube.removed {
  opacity: 0 !important;
  pointer-events: none;
}

.front  { background: -webkit-radial-gradient(center, hsla(0, 30%, 50%, 1), hsla(0, 30%, 50%, 1) 40%, hsla(0, 50%, 50%, 1) ); }
.back  { background: -webkit-radial-gradient(center, hsla(60, 30%, 50%, 1), hsla(60, 30%, 50%, 1) 40%, hsla(60, 50%, 50%, 1) ); }
.right  { background: -webkit-radial-gradient(center, hsla(120, 30%, 50%, 1), hsla(120, 30%, 50%, 1) 40%, hsla(120, 50%, 50%, 1) ); }
.left  { background: -webkit-radial-gradient(center, hsla(180, 30%, 50%, 1), hsla(180, 30%, 50%, 1) 40%, hsla(180, 50%, 50%, 1) ); }
.top  { background: -webkit-radial-gradient(center, hsla(240, 30%, 50%, 1), hsla(240, 30%, 50%, 1) 40%, hsla(240, 50%, 50%, 1) ); }
.bottom  { background: -webkit-radial-gradient(center, hsla(300, 30%, 50%, 1), hsla(300, 30%, 50%, 1) 40%, hsla(300, 50%, 50%, 1) ); }

.cube .front  { -webkit-transform: rotateY(   0deg ) translateZ( 100px ); z-index: 300;}
.cube .back   { -webkit-transform: rotateY( 180deg ) translateZ( 100px ); z-index: 100;}
.cube .right  { -webkit-transform: rotateY(  90deg ) translateZ( 100px ); z-index: 200;}
.cube .left   { -webkit-transform: rotateY( -90deg ) translateZ( 100px ); z-index: 100;}
.cube .top    { -webkit-transform: rotateX(  90deg ) translateZ( 100px ); z-index: 200;}
.cube .bottom { -webkit-transform: rotateX( -90deg ) translateZ( 100px ); z-index: 100;}

.highlight { box-shadow: inset 0 0 30px rgba(255,255,150,.7);}
.highlight span { color: #ff9;}

.cube:nth-child(1) { left: 0; z-index: 100;}
.cube:nth-child(2n) { left: 200px; z-index: 105;}
.cube:nth-child(3n) { left: 400px; z-index: 95;}

.cube:nth-child(4) { left: 0; top: 200px; z-index: 200;}
.cube:nth-child(5) { top: 200px; left: 200px; z-index: 205;}
.cube:nth-child(6) { top: 200px; z-index: 195;}

.cube:nth-child(7) { left: 0; top: 400px; z-index: 100;}
.cube:nth-child(8) { top: 400px; z-index: 105;}
.cube:nth-child(9) { top: 400px; z-index: 95;}

.cube figure span {
  display: block;
  -webkit-transition: -webkit-transform, 1s;
}

#total {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.face {
  cursor: pointer;
  -webkit-user-select: none;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  width: 96px; height: 100px;
  line-height: 100px;
  margin-right: 4px;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0,0,0,.4);
  -webkit-transition: box-shadow, .3s;
}
.face:nth-child(6) { margin: 0;}
.face:hover {
  box-shadow: inset 0 0 30px rgba(255,255,255,.7);
}
.face:active {
  box-shadow: inset 0 0 30px rgba(0,0,0,.5);
}