
html
  min-height 100%

body
  font-family 'Helvetica Neue', Arial, Helvetica, sans-serif
  background-color #000
  color #efefef
  min-height 100%
  cursor default
  -webkit-font-smoothing antialiased

header
  font-size 24px
  width 576px
  padding 10px
  text-shadow 0 -1px 0 rgba(0,0,0,.4)
  margin 0 auto 2px auto
  background -webkit-linear-gradient(top, #222, #333, #222)
  -webkit-font-smoothing antialiased

  &:after
    display block
    clear both
    content ""

a
  color #555

#level
  float left
#toggledCubes
  float right

.toggledCube
  width 16px
  height 16px
  background-color #444
  display inline-block
  margin 0 3px 0 0
  box-shadow inset 0 0 4px rgba(0, 0, 0, 1)
  border solid 1px #333
  -webkit-transition background-color .4s

  &.active
    background-color #cce

#reload
  margin-left 10px
  font-size 22px
  line-height 24px
  display inline-block
  float left
  padding 2px 4px 0 4px
  border-radius 20px
  border inset 1px #345
  cursor pointer
  color #888

  &:hover
    color #fff
    background-color #444

  &:active
    color #555
    background-color #111

#login
  display block
  width 588px
  margin 0 auto 3px auto
  padding 4px
  font-size 14px
  font-weight normal
  text-align right
  background-color #234
  background-image -webkit-linear-gradient(top, #234, #123)

#start
  #login
    color #aaa
    margin-top 6px

  .login-display-name
    color #fff

#login-buttons
  .login-image
    top 1px !important

  .login-button
    font-size 100% !important
    padding 0 8px !important
    color #aaa !important
    background-color transparent !important
    background-image none !important
    border none !important
    box-shadow none !important
    -webkit-box-shadow none !important

    &:hover
      color white !important

#unlock-gift
  float left

.unlock-button
  display inline-block
  width 200px
  border-radius 10px
  border inset 1px #345
  padding 1px 10px
  color #678
  cursor default
  text-align center
  box-shadow inset 0 0 4px rgba(0,0,0,.7)
  background -webkit-linear-gradient(bottom, #234, #123)

  &:hover
    color #aaa

  &.active
    background -webkit-linear-gradient(top, lightSlateGray, #456)
    border solid 1px #333
    color white
    text-shadow 0 -1px 0 rgba(0, 0, 0, .7)
    box-shadow inset 0 0 14px rgba(255, 255, 200, .5)
    font-weight bold
    cursor pointer

  &:active
    box-shadow inset 0 0 14px rgba(0,0,0,.5)


#rankings
  display none

  ol
    list-style none
    margin 0 0 140px 0
    padding 0
    max-height 300px
    overflow-y scroll

  li
    counter-increment par-num
    margin 0 0 10px 0
    color orange
    font-weight normal

    &:before
      content counter(par-num, decimal) ". "
      color orange

  span
    font-weight bold
    color #E6E629

.rankings #rankings
  display block

#gifts
  display none

  h2
    padding 0 20px

  ul
    list-style none
    margin 0 auto
    padding 0
    width 420px
    height 420px
    border solid 3px #e6e629

  li
    float left
    border solid 2px #000
    width 136px
    height 136px
    font-size 16px
    cursor pointer
    display table
    -webkit-transition linear .1s

    p
      display table-cell
      vertical-align middle
      width 100%
      height 100%
      padding 0 10px

    &:hover
      box-shadow inset 0 0 10px #e6e629
      border-color white

    &:active
      opacity .7

    &.selected
      border-color white
      color white

.gifts #gifts
  display block

#browser-message
  display none

  a
    color #e6e629
    text-decoration none

#start, #instructions, #rankings, #gifts, #browser-message
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  z-index 99
  background-color #000
  color #E6E629
  padding 2px 0 0 0
  font-size 24px
  font-weight bold
  text-align center
  -webkit-user-select none

#welcome-screen, #rankings, #gifts, #browser-message
  width 596px
  height 100%
  margin 0 auto
  padding 100px 0
  background-color #222
  background-image -webkit-linear-gradient(top, #222, #111)


#instructions
  display none
  background rgba(0,0,0,.4)

  ol
    list-style none
    margin 130px auto 0 auto
    padding 0
    position relative
    width 600px
    height 100%

.instructions #instructions
  display block

#instructions li, #message .message
  position absolute
  display none
  color white
  padding 10px
  background #000
  border solid 3px #E6E629
  width 300px
  min-width 150px
  max-width 400px
  font-size 16px
  box-shadow 0 0 20px rgba(0,0,0,.7)
  -webkit-box-sizing border-box

  &:nth-child(1)
    left 150px
    top 50px
  &:nth-child(2)
    left 150px
    top 100px
  &:nth-child(3)
    left 150px
    top 500px
  &:nth-child(4)
    left 190px
    top 280px
  &:nth-child(5)
    left 0
    top 480px
    &:before, &:after
      left 20%
  &:nth-child(6)
    left 150px
    top 250px
  &:nth-child(7)
    left 150px
    top 500px
  &:nth-child(8)
    left 290px
    top -30px
    &:before, &:after
      left 90%
  &:nth-child(9)
    left 0px
    top -30px
    &:before, &:after
      left 45%
  &:nth-child(10)
    left 150px
    top 250px

.with-arrow
  &:after, &:before
    top 100%
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    pointer-events none

  &:after
    border-color rgba(0, 0, 0, 0)
    border-top-color #000
    border-width 10px
    left 50%
    margin-left -10px

  &:before
    border-color rgba(230, 230, 41, 0)
    border-top-color #E6E629
    border-width 14px
    left 50%
    margin-left -14px

  &.arrow-top:after, &.arrow-top:before
    top -30px

  &.arrow-top:before
    border-top-color transparent
    border-bottom-color #E6E629

  &.arrow-top:after
    margin-top 10px
    border-top-color transparent
    border-bottom-color black

#messageContainer
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,.8)

  #message
    position relative
    width 600px
    height 100px
    margin 0 auto

    .message
      display block
      top 250px
      left 150px
      text-align center

      &:after
        text-align center
        display block
        position absolute
        bottom -30px
        left 0
        width 100%
        content ""

  &:not(.loading) .message:after
    content "Click to continue"
    color #999

  &.loading .message:after
    background url(/loading.gif) center center no-repeat

.current-level
  text-align center
  font-weight bold
  font-size 24px
  margin -10px -10px 10px -10px
  padding 10px
  background #E6E629
  color black

h1
  position relative
  margin 40px auto
  text-transform uppercase
  zoom 1.4

  .the
    position absolute
    font-size 16px
    top -15px
    width 100%
    left 0
    text-transform lowercase
    color #CCC

  .cube-42
    display inline-block
    width 82px
    height 82px
    font-size 48px
    color white
    background -webkit-radial-gradient(center, rgba(166, 89, 166, 1), rgba(166, 89, 166, 1) 40%, rgba(191, 64, 191, 1))
    line-height 81px
    text-shadow 0 -1px 1px rgba(0, 0, 0, .4)
    text-align center
    margin 0 3px 0 82px
    -webkit-transform skewY(-20deg)

  .title
    position relative
    display inline-block
    top -74px
    left 5px
    -webkit-transform skewY(20deg)

    span
      display inline-block
      text-align center
      width 42px
      margin-right 3px
      line-height 1.1em
      color white
      text-shadow 0 -1px 1px rgba(0, 0, 0, .4)
      position absolute
      font-size 36px

    .char1
      top 0
      left 0
      background -webkit-radial-gradient(center, hsla(0, 30%, 50%, 1), hsla(0, 30%, 50%, 1) 40%, hsla(0, 50%, 50%, 1))
    .char2
      top 0
      left 45px
      background -webkit-radial-gradient(center, hsla(60, 30%, 50%, 1), hsla(60, 30%, 50%, 1) 40%, hsla(60, 50%, 50%, 1))
    .char3
      top 42px
      left 0
      background -webkit-radial-gradient(center, hsla(120, 30%, 50%, 1), hsla(120, 30%, 50%, 1) 40%, hsla(120, 50%, 50%, 1))
    .char4
      top 42px
      left 45px
      background -webkit-radial-gradient(center, hsla(180, 30%, 50%, 1), hsla(180, 30%, 50%, 1) 40%, hsla(180, 50%, 50%, 1))

#start h2
  color #999
  text-transform lowercase
  font-weight normal
  font-size 16px
  margin -218px 0 200px 0

.button
  padding 10px
  border solid 4px #E6E629
  margin 20px auto
  width 250px
  font-size 24px
  cursor pointer
  box-shadow 0 0 10px #e6e629
  -webkit-font-smoothing antialiased

  &.secondary
    box-shadow none
    font-size 20px
    border-width 3px
    border-color #efac36
    color #efac36
    padding 6px 10px

  &:hover
    border-color white
    color white

  &:active
    border-color #fcc
    color #fcc

  &:focus
    outline solid 3px yellow

#container
  min-height 100%
  -webkit-perspective 1000px
  -webkit-transform scale(0.7)

#master-cube
  position relative
  width 600px
  height 600px
  margin 0 auto 2px
  -webkit-transform-style preserve-3d
  -webkit-transition -webkit-transform 1s
  -webkit-transform-origin center center 0px

  #top .cube
    -webkit-transform translateZ(200px)
  #middle .cube
    -webkit-transform translateZ(0px)
  #bottom .cube
    -webkit-transform translateZ(-200px)

  .cube
    width 200px
    height 200px
    position absolute
    -webkit-user-select none
    -webkit-transform-style preserve-3d
    -webkit-transition -webkit-transform, opacity .4s
    -webkit-transform-origin center center

    .highlight
      box-shadow inset 0 0 30px rgba(255,255,150,.7)
      span
        color #ff9

    &:nth-child(1)
      left 0
      z-index 100
    &:nth-child(2n)
      left 200px
      z-index 105
    &:nth-child(3n)
      left 400px
      z-index 95

    &:nth-child(4)
      left 0
      top 200px
      z-index 200
    &:nth-child(5)
      top 200px
      left 200px
      z-index 205
    &:nth-child(6)
      top 200px
      z-index 195

    &:nth-child(7)
      left 0
      top 400px
      z-index 100
    &:nth-child(8)
      top 400px
      z-index 105
    &:nth-child(9)
      top 400px
      z-index 95

    figure
      margin 0
      width 116px
      height 116px
      display block
      padding 40px
      position absolute
      border 2px solid black
      line-height 116px
      font-size 116px
      font-weight bold
      text-shadow 0 -1px 1px rgba(0,0,0,.4)
      color white
      text-align center
      cursor pointer
      -webkit-transition -webkit-transform, background .2s

      &.front
        -webkit-transform rotateY(   0deg ) translateZ( 100px )
        z-index 300

      &.back
        -webkit-transform rotateY( 180deg ) translateZ( 100px )
        z-index 100

      &.right
        -webkit-transform rotateY(  90deg ) translateZ( 100px )
        z-index 200

      &.left
         -webkit-transform rotateY( -90deg ) translateZ( 100px )
        z-index 100

      &.top
        -webkit-transform rotateX(  90deg ) translateZ( 100px )
        z-index 200

      &.bottom
        -webkit-transform rotateX( -90deg ) translateZ( 100px )
        z-index 100

      span
        display block
        -webkit-transition -webkit-transform, 1s

    &:hover, &:active
      opacity .4

    &:hover figure
      color rgba(255,255,255,.5)

    &:active
      .front, .back, .left, .right, .top, .bottom
        box-shadow inset 0 0 30px rgba(0,0,0,.9)

    &.clicked
      figure
        color rgba(255,255,255,.1)
        text-shadow none
        background none
        border-color #E6E629

      &:hover figure, &:active figure
        border-color yellow !important

    &.removed
      opacity 0 !important
      pointer-events none

.front
  background hsla(0, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(0, 30%, 50%, 1), hsla(0, 30%, 50%, 1) 40%, hsla(0, 50%, 50%, 1))

.back
  background hsla(60, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(60, 30%, 50%, 1), hsla(60, 30%, 50%, 1) 40%, hsla(60, 50%, 50%, 1))

.right
  background hsla(120, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(120, 30%, 50%, 1), hsla(120, 30%, 50%, 1) 40%, hsla(120, 50%, 50%, 1))

.left
  background hsla(180, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(180, 30%, 50%, 1), hsla(180, 30%, 50%, 1) 40%, hsla(180, 50%, 50%, 1))

.top
  background hsla(240, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(240, 30%, 50%, 1), hsla(240, 30%, 50%, 1) 40%, hsla(240, 50%, 50%, 1))

.bottom
  background hsla(300, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(300, 30%, 50%, 1), hsla(300, 30%, 50%, 1) 40%, hsla(300, 50%, 50%, 1))

#total
  width 600px
  margin 0 auto
  text-align center

  .face
    cursor pointer
    font-size 36px
    font-weight bold
    display inline-block
    width 96px
    height 100px
    line-height 100px
    margin-right 4px
    text-align center
    color rgba(255,255,255,.5)
    -webkit-user-select none
    -webkit-transition color, box-shadow, .3s

    &:nth-child(6)
      margin 0
    &:hover
      box-shadow inset 0 0 30px rgba(255,255,255,.7)
    &:active
      box-shadow inset 0 0 30px rgba(0,0,0,.5)
    &.total-42
      opacity .5

#credits
  margin 70px 0 0 0
  font-size 16px
  color #444
