/* CSS declarations go here */
html {
  min-height: 100%;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #efefef;
  min-height: 100%;
}

header {
  font-size: 24px;
  width: 576px;
  padding: 10px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  margin: 0 auto 2px auto;
}
header {
  background: -webkit-linear-gradient(top, #222, #333, #222 );
}
header:after {
  display: block;
  clear: both;
  content: "";
}
#level { float: left;}
#toggledCubes {float: right;}
.toggledCube {
  width: 16px;
  height: 16px;
  background-color: #444;
  display: inline-block;
  margin: 0 3px 0 0;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 1);
  border: solid 1px #333;
  -webkit-transition: background-color .4s;
}
.toggledCube.active {
  background-color: #cce;
}

#login {
  display: block;
  width: 588px;
  margin: 0 auto 3px auto;
  padding: 4px;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  background-color: #234;
  background-image: -webkit-linear-gradient(top, #234, #123);
}
#start #login {
  color: #aaa;
  margin-top: 6px;
}
#start .login-display-name {
  color: #fff;
}
#login-buttons .login-image {
  top: 1px !important;
}
#login-buttons .login-button {
  font-size: 100% !important;
  padding: 0 8px !important;
  color: #aaa !important;
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
#login-buttons .login-button:hover {
  color: white !important;
}

#gift {
  float: left;
}

#gift .button {
  display: inline-block;
  width: 200px;
  border-radius: 10px;
  border: inset 1px #345;
  padding: 1px 10px;
  color: #456;
  cursor: default;
  text-align: center;
  box-shadow: inset 0 0 4px rgba(0,0,0,.7);
  background: -webkit-linear-gradient(bottom, #234, #123);
}
#gift .button:hover {
  color: #aaa;
}
#gift .button.active {
  background: -webkit-linear-gradient(top, #234, #123);
  box-shadow: 0 0 4px #ffa;
  color: white;
}

#start, #instructions {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 99;
  background-color: #000;
  color: #E6E629;
  padding: 2px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
}

#welcome-screen {
  width: 596px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: #222;
  background-image: -webkit-linear-gradient(top, #222, #111);
}

#instructions {
  display: none;
  background: rgba(0,0,0,.4);
}
.instructions #instructions { display: block; }
#instructions ol {
  list-style: none;
  margin: 130px auto 0 auto; padding: 0;
  position: relative;
  width: 600px; height: 100%;
}
#instructions li, #message .message {
  position: absolute;
  display: none;
  color: white;
  padding: 10px;
  background: #000;
  border: solid 3px #E6E629;
  width: 300px;
  min-width: 150px; max-width: 400px;
  font-size: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,.7);
  -webkit-box-sizing: border-box;
}
.with-arrow:after, .with-arrow:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.with-arrow:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.with-arrow:before {
  border-color: rgba(230, 230, 41, 0);
  border-top-color: #E6E629;
  border-width: 14px;
  left: 50%;
  margin-left: -14px;
}
#instructions li:nth-child(1) { left: 150px; top: 50px; }
#instructions li:nth-child(2) { left: 150px; top: 100px; }
#instructions li:nth-child(3) { left: 150px; top: 500px; }
#instructions li:nth-child(4) { left: 190px; top: 280px; }
#instructions li:nth-child(5) { left: 0; top: 500px; }
#instructions li:nth-child(6) { left: 150px; top: 250px; }
#instructions li:nth-child(7) { left: 150px; top: 250px; }
#instructions li:nth-child(8) { left: 150px; top: 250px; }
#instructions li:nth-child(9) { left: 150px; top: 250px; }
#instructions li:nth-child(10) { left: 150px; top: 250px; }

#messageContainer {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,.8);
}
#message {
  position: relative;
  width: 600px; height: 100px;
  margin: 0 auto;
}
#message .message {
  display: block;
  top: 250px; left: 150px;
  text-align: center;
}
body:not(.loading) .message:after {
  text-align: center;
  display: block;
  content: "Click to continue";
  color: #999;
  position: absolute;
  bottom: -30px; left: 0;
  width: 100%;
}
.current-level {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: -10px -10px 10px -10px;
  padding: 10px;
  background: #E6E629;
  color: black;
}

h1 {
  position: relative;
  margin: 40px auto;
  text-transform: uppercase;
  zoom: 1.4;
}
.the {
  position: absolute;
  font-size: 16px;
  top: -15px;
  width: 100%;
  left: 0;
  text-transform: lowercase;
  color: #CCC;
}
.cube-42 {
  display: inline-block;
  width: 82px;
  height: 82px;
  font-size: 48px;
  color: white;
  background: -webkit-radial-gradient(center, rgba(166, 89, 166, 1), rgba(166, 89, 166, 1) 40%, rgba(191, 64, 191, 1) );
  line-height: 81px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);
  text-align: center;
  margin: 0 3px 0 -70px;
  -webkit-transform: skewY(20deg);
}
.title {
  position: relative;
  display: inline-block;
  top: -43px;
  left: -12px;
  -webkit-transform: skewY(-20deg);
}
.title span {
  display: inline-block;
  text-align: center;
  width: 42px;
  margin-right: 3px;
  line-height: 1.1em;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);
  position: absolute;
  font-size: 36px;
}
.title .char1 {top: 0; left: 0;}
.title .char2 {top: 0; left: 45px;}
.title .char3 {top: 42px; left: 0;}
.title .char4 {top: 42px; left: 45px;}
.title .char1 {background: -webkit-radial-gradient(center, hsla(0, 30%, 50%, 1), hsla(0, 30%, 50%, 1) 40%, hsla(0, 50%, 50%, 1) );}
.title .char2 {background: -webkit-radial-gradient(center, hsla(60, 30%, 50%, 1), hsla(60, 30%, 50%, 1) 40%, hsla(60, 50%, 50%, 1) );}
.title .char3 {background: -webkit-radial-gradient(center, hsla(120, 30%, 50%, 1), hsla(120, 30%, 50%, 1) 40%, hsla(120, 50%, 50%, 1) );}
.title .char4 {background: -webkit-radial-gradient(center, hsla(180, 30%, 50%, 1), hsla(180, 30%, 50%, 1) 40%, hsla(180, 50%, 50%, 1) );}

h2 {
  color: #999;
  text-transform: lowercase;
  font-weight: normal;
  font-size: 16px;
  margin: -218px 0 200px 0;
}

#welcome-screen .button {
  padding: 10px;
  border: solid 4px #E6E629;
  margin: 20px auto;
  width: 250px;
  font-size: 24px;
  cursor: pointer;
}
#welcome-screen .button:hover {
  border-color: white;
  color: white;
}
#welcome-screen .button:active {
  border-color: #fcc;
  color: #fcc;
}
#welcome-screen .button:focus {
  outline: solid 3px yellow;
}

#container {
  min-height: 100%;
  -webkit-perspective: 1000px;
  -webkit-transform: scale(0.7);
}

#master-cube {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto 2px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform-origin: center center 0px;
}

.cube {
  width: 200px;
  height: 200px;
  position: absolute;
  -webkit-user-select: none;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform, opacity .4s;
  -webkit-transform-origin: center center;
}
#top .cube { -webkit-transform: translateZ(200px); }
#middle .cube { -webkit-transform: translateZ(0px); }
#bottom .cube { -webkit-transform: translateZ(-200px); }

.cube figure {
  margin: 0;
  width: 116px;
  height: 116px;
  display: block;
  padding: 40px;
  position: absolute;
  border: 2px solid black;
  line-height: 116px;
  font-size: 116px;
  font-weight: bold;
  text-shadow: 0 -1px 1px rgba(0,0,0,.4);
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform, background .2s;
}
.cube:hover, .cube:active {
  opacity: .4;
}
.cube:hover figure {
  color: rgba(255,255,255,.5);
}
.cube:active .front, .cube:active .back, .cube:active .left, .cube:active .right, .cube:active .top, .cube:active .bottom {
  box-shadow: inset 0 0 30px rgba(0,0,0,.9);
}
.cube.clicked figure {
  color: rgba(255,255,255,.1);
  text-shadow: none;
  background: none;
  border-color: rgba(0,0,0,.3);
}
.cube.clicked:hover figure, .cube.clicked:active figure {
  border-color: yellow !important;
}

.cube.removed {
  opacity: 0 !important;
  pointer-events: none;
}

.front  { background: hsla(0, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(0, 30%, 50%, 1), hsla(0, 30%, 50%, 1) 40%, hsla(0, 50%, 50%, 1) ); }
.back  { background: hsla(60, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(60, 30%, 50%, 1), hsla(60, 30%, 50%, 1) 40%, hsla(60, 50%, 50%, 1) ); }
.right  { background: hsla(120, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(120, 30%, 50%, 1), hsla(120, 30%, 50%, 1) 40%, hsla(120, 50%, 50%, 1) ); }
.left  { background: hsla(180, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(180, 30%, 50%, 1), hsla(180, 30%, 50%, 1) 40%, hsla(180, 50%, 50%, 1) ); }
.top  { background: hsla(240, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(240, 30%, 50%, 1), hsla(240, 30%, 50%, 1) 40%, hsla(240, 50%, 50%, 1) ); }
.bottom  { background: hsla(300, 30%, 50%, 1) -webkit-radial-gradient(center, hsla(300, 30%, 50%, 1), hsla(300, 30%, 50%, 1) 40%, hsla(300, 50%, 50%, 1) ); }

.cube .front  { -webkit-transform: rotateY(   0deg ) translateZ( 100px ); z-index: 300;}
.cube .back   { -webkit-transform: rotateY( 180deg ) translateZ( 100px ); z-index: 100;}
.cube .right  { -webkit-transform: rotateY(  90deg ) translateZ( 100px ); z-index: 200;}
.cube .left   { -webkit-transform: rotateY( -90deg ) translateZ( 100px ); z-index: 100;}
.cube .top    { -webkit-transform: rotateX(  90deg ) translateZ( 100px ); z-index: 200;}
.cube .bottom { -webkit-transform: rotateX( -90deg ) translateZ( 100px ); z-index: 100;}

.highlight { box-shadow: inset 0 0 30px rgba(255,255,150,.7);}
.highlight span { color: #ff9;}

.cube:nth-child(1) { left: 0; z-index: 100;}
.cube:nth-child(2n) { left: 200px; z-index: 105;}
.cube:nth-child(3n) { left: 400px; z-index: 95;}

.cube:nth-child(4) { left: 0; top: 200px; z-index: 200;}
.cube:nth-child(5) { top: 200px; left: 200px; z-index: 205;}
.cube:nth-child(6) { top: 200px; z-index: 195;}

.cube:nth-child(7) { left: 0; top: 400px; z-index: 100;}
.cube:nth-child(8) { top: 400px; z-index: 105;}
.cube:nth-child(9) { top: 400px; z-index: 95;}

.cube figure span {
  display: block;
  -webkit-transition: -webkit-transform, 1s;
}

#total {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.face {
  cursor: pointer;
  -webkit-user-select: none;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  width: 96px; height: 100px;
  line-height: 100px;
  margin-right: 4px;
  text-align: center;
  color: rgba(255,255,255,.5);
  -webkit-transition: color, box-shadow, .3s;
}
.face:nth-child(6) { margin: 0;}
.face:hover {
  box-shadow: inset 0 0 30px rgba(255,255,255,.7);
}
.face:active {
  box-shadow: inset 0 0 30px rgba(0,0,0,.5);
}
.face.total-42 {
  opacity: .5;
}